* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --background-color: white;
  --label_text-color: #606060;
  --grey-color: #909090;
  --header-color: #943030;
  --header-font-family: HelveticaNeueLight, Helvetica, tahoma, arial;
  --gradient-start: rgb(229,70,70);
  --gradient-end: rgb(117,62,39);
  --match-item-color: rgb(148, 48, 48);
  --grid-background-color: rgb(250,250,250);
  --grid-background-hover-color: rgb(250,240,240);
  --white: white;
  --light-white: #f9f9f9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: white;
    --label_text-color: #606060;
    --grey-color: #909090;
    --header-color: #943030;
    --header-font-family: HelveticaNeueLight, Helvetica, tahoma, arial;
    --gradient-start: rgb(229,70,70);
    --gradient-end: rgb(117,62,39);
    --match-item-color: rgb(148, 48, 48);
    --grid-background-color: rgb(250,250,250);
    --grid-background-hover-color: rgb(250,240,240);
    --white: white;
    --light-white: #f9f9f9;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color:  var(--background-color);
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  text-align: left;
  color: var(--header-color);
  font-family: var(--header-font-family);
  font-size: 42px;
}

h2 {
  color: var(--header-color);
}

h3 {
  font-size: 16px;
  font-family: var(--header-font-family);
}

.label
{
	color: var(--label_text-color); 
	margin-bottom: 20px; 
	text-align: left;
}


.multi-title-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .multi-title-header {
    flex-direction: column;
    align-items: normal;
  }

  .multi-title-header nav {
    padding-top: 20px;
  }
}

.selected-statistics {
    text-decoration: underline;
    font-weight: bold;
    color: var(--header-color);
}

.header-bar {
	height: 80px;
	padding-top:14px;
	padding-left:6px;
	padding-right:10px;
	color: var(--white);
  font-weight: 300;
  text-align: left;
  letter-spacing: 2px;
  text-transform:uppercase;
  font-size: 0.9em;
}

.header-logo {
  height: 48px;
  width: auto;
  position:relative;
  top: -5px;
}

.header-title {
  margin-left: 20px;
 }

.header-link {
  margin-left: 15px;
  font-size: 0.9em;
}

.header-link:hover {
  font-weight: 600;
}

.header-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
}

.header-links a p {
  color: var(--white);
  margin-right: 20px;
  cursor: pointer;
}



.content-container {
	padding-top: 20px;
}



.match-round-info {
  margin: 0;
   color: var(--match-item-color);
   text-align: left;
}

.match-round-name {
  font-size: 20px;
  display: block;
  margin: 5px 0;
  text-align: left;
  color: var(--match-item-color);
}

.match-round-time {
  color: var(--grey-color);
  text-align: left;
}

.match-round-grid-item {
  padding: 10px;
  cursor: pointer;
  background-color: var(--grid-background-color);
  margin-bottom: 20px;
  border-radius: 15px;
}

.match-round-grid-item:hover {
  background-color: var(--grid-background-hover-color);
}

/* Media queries to hide navigation links on screens below 768px */
@media (max-width: 768px) {
  .header-links {
    display: none;
  }
}

/* Styles for the Drawer component to ensure it covers the entire screen */
.MuiDrawer-paper {
  width: 100%;
  max-width: 300px;
}

/* Styles for the MenuIcon component to position it correctly in the header */
.MuiIconButton-root {
  display: none;
}

@media (max-width: 768px) {
  .MuiIconButton-root {
    display: block;
  }
}

.create-match-button {
  background-color: var(--header-color);
  color: var(--white);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .create-match-button {
    width: 100%;
    padding: 15px;
    font-size: 18px;
  }
}
