* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: rgb(250, 250, 250);
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  text-align: left;
  color: #943030;
  font-family: HelveticaNeueLight, Helvetica, tahoma, arial;
  font-size: 42px;
}

h2 {
  color: #943030;
}

h3 {
  font-size: 16px;
  font-family: HelveticaNeueLight, Helvetica, tahoma, arial;
}

.grey-text {
  color: #909090;
}

.too-old-text {
  color: #943030;
  font-weight: bold;
}

.correct-result-link {
  color: #943030;
  text-decoration: none;
  font-weight: bold;
}

.multi-title-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.statistics-nav {
  .selected-statistics {
    text-decoration: underline;
    font-weight: bold;
    color: #943030;
  }
}

.correct-round {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #909090;
  padding: 20px;
}

.header-bar {
  background: linear-gradient(to right, #FF3366, #FF6B6B)
}

.bold-header {
  font-weight: 700;
}

.header-text {
  margin-left: 15px;
  color: white;
  font-weight: 300;
  text-align: left;
  letter-spacing: 1px;
}

.header-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
}

.header-links a p {
  color: white;
  margin-right: 20px;
  cursor: pointer;
}