* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: rgb(250, 250, 250);
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  text-align: left;
  color: #943030;
  font-family: HelveticaNeueLight, Helvetica, tahoma, arial;
  font-size: 42px;
}

h2 {
  color: #943030;
}

h3 {
  font-size: 16px;
  font-family: HelveticaNeueLight, Helvetica, tahoma, arial;
}

.grey-text {
  color: #909090;
}

.too-old-text {
  color: #943030;
  font-weight: bold;
}

.correct-result-link {
  color: #943030;
  text-decoration: none;
  font-weight: bold;
}

.multi-title-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.statistics-nav {
  .selected-statistics {
    text-decoration: underline;
    font-weight: bold;
    color: #943030;
  }
}

.correct-round {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #909090;
  padding: 20px;
}

.bold-header {
  font-weight: 700;
}

.header-text {
  margin-left: 15px;
  color: white;
  font-weight: 300;
  text-align: left;
  letter-spacing: 1px;
}

.header-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
}

.header-links a p {
  color: white;
  margin-right: 20px;
  cursor: pointer;
}

.match-round-info {
  margin: 0;
   color: rgb(148, 48, 48);
   text-align: left;
}

.match-round-name {
  font-size: 20px;
  display: block;
  margin: 5px 0;
  text-align: left;
  color: rgb(148, 48, 48);
}

.match-round-time {
  color: #909090;
  text-align: left;
}

.match-round-grid-item {
  padding: 10px;
  background-color: white;
  margin-bottom: 20px;
}

/* Media queries to hide navigation links on screens below 768px */
@media (max-width: 768px) {
  .header-links {
    display: none;
  }
}

/* Styles for the Drawer component to ensure it covers the entire screen */
.MuiDrawer-paper {
  width: 100%;
  max-width: 300px;
}

/* Styles for the MenuIcon component to position it correctly in the header */
.MuiIconButton-root {
  display: none;
}

@media (max-width: 768px) {
  .MuiIconButton-root {
    display: block;
  }
}

/* Pfad8 */
.create-match-button {
  background-color: #943030;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

/* Pcde0 */
@media (max-width: 768px) {
  .create-match-button {
    width: 100%;
    padding: 15px;
    font-size: 18px;
  }
}
